<a href="https://colab.research.google.com/github/santhoshunnithan/PythonColab/blob/main/3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DICTIONARIES
#key- value
#duplicates are not allowed
#ordered, changeable
#{}

dictionary {} -ordered /changeable/ no duplicates
tuple () - ordered / non changeable / duplicates allowed

list [] - ordered / changeable/ duplicates allowed
set {} - non ordered / non changeable / no duplicates

In [ ]:
student = {"name": "John", "age": 25, "courses": "math"}
print(student)

{'name': 'John', 'age': 25, 'courses': 'math'}

In [ ]:
#acessing the values
student["name"]

'John'

In [ ]:
#to update the elements
student["name"] = "Jane"
student["age"] = 30
print(student)

{'name': 'Jane', 'age': 30, 'courses': 'math'}

In [ ]:
student.update ({"name":"raju"})
print(student)

{'name': 'raju', 'age': 30, 'courses': 'math'}

NameError: name 'student' is not defined

In [ ]:
#looping through a dictionary
for i in student:
    print(i)

name
age
courses

In [ ]:
#to print the values
for i in student.values():
    print(i)

raju
30
math

In [ ]:
#to print key & values
for i,j in student.items():
    print(i,j)

name raju
age 30
courses math

In [ ]:
#to check whether the key name is present in the dictionary
for k in student:
  if k == "name":
    print("yes")

yes

In [ ]:
if "name" in student:
    print("yes")
else:
    print("no")

yes

In [ ]:
#dictionaries does not allow duplicates
car ={"brand":"ford", "model":"mustang", "year":1964, "year":2020}
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
#length of the dictionary
len(car)

3

In [ ]:
#the dict() constructor
car = dict(brand="ford", model="mustang", year=1964)
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#to add a new key value
car['colour']= 'red'
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'colour': 'red'}

In [ ]:
car.update ({'colour':"black"})
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'colour': 'black'}

In [ ]:
#removing an item using popitem() method
car.popitem()
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#removing an item using del keyword
#del dict_name[key]

del car['model']
print(car)

{'brand': 'ford', 'year': 1964}

In [ ]:
#removing a dictionary using del keyword
#syntax : del dict_name
del car
print(car)

NameError: name 'car' is not defined

In [ ]:
car ={"brand":"ford", "model":"mustang", "year":1964}
# clear the dictionary
#syntax: dict_name.clear()
car.clear()
print(car)

{}

In [ ]:
#to enter the names of employees and their salaries as input and store them in a dictinary
num = int(input("enter the number of employees: "))
employee = dict()
for i in range (num):
    name = input ("enter the name of employee: ")
    salary = int(input ("enter the salary of employee: "))
    employee[name] = salary
print(employee)
for k in employee:
  print (k, employee[k])

enter the number of employees: 3
enter the name of employee: xyz
enter the salary of employee: 2000
enter the name of employee: abc
enter the salary of employee: 4000
enter the name of employee: qwe
enter the salary of employee: 3000
{'xyz': 2000, 'abc': 4000, 'qwe': 3000}
xyz 2000
abc 4000
qwe 3000

### TUPLES

In [ ]:
#ordered , duplicates allowed
#unchangeable

In [ ]:
#creating a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#accessing tuple elements
thistuple[0]

'apple'

In [ ]:
thistuple[-1]

'cherry'

In [ ]:
thistuple[:2]

('apple', 'banana')

In [ ]:
thistuple[-2:]

('banana', 'cherry')

In [ ]:
tp1 = (1,2,3)
tp2 = ('a','b','c')
tp1+tp2

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
tp3 = (1,)
tp3*10

(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

In [ ]:
a,b,c =(1,2,3)
a

1

In [ ]:
#to print all items using a while loop

tuple = ("apple", "banana", "cherry")
i = 0
while i < len(tuple):
  print(tuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#using for loop

tuple = ("apple", "banana", "cherry")
for i in range (len(tuple)):
  print(tuple[i])

apple
banana
cherry

SET

In [ ]:
#unordered, unchangeable,duplicates are not allowed

In [ ]:
#Accesing set

fruits ={"apple", "banana", "cherry"}
for x in fruits:
  print(x)

banana
apple
cherry

In [ ]:
print ("banana"in set)

True

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'grapes', 'apple', 'banana', 'orange', 'mango', 'cherry'}

In [ ]:
# remove item
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
# clear method
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
#delete the set
fruits = {"apple", "banana", "cherry"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
#set operations

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.intersection(s2)

{5, 6}

In [ ]:
s1.difference(s2)

{1, 2, 3, 4}

In [ ]:
s2.difference(s1)

{7, 8, 9}